@{
    ViewData["Title"] = "Registration";
}

@{
    Layout = null;
}

@using BusinessObject.Models;
@model CourseRegistration

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />



    <style>
        #page {
            margin-top: 4.5rem !important;
        }
    </style>
</head>
<body class="sb-nav-fixed">
    @await Html.PartialAsync("~/Views/Shared/Header.cshtml")
    @Html.Partial("~/Views/Shared/Notifications.cshtml")
    <div id="layoutSidenav">
        <div id="page-wrapper">
            <div id="page" class="container-fluid mt-4">
                <header id="page-header" class="row">
                    <div class="col-12 pt-3 pb-3">
                        <div class="card ">
                            <div class="card-body ">
                                <div class="d-flex">
                                    <div class="mr-auto">
                                        <div class="page-context-header">
                                            <div class="page-header-headings">
                                                <h2>@Model.EditedCourseName</h2>
                                                <p style="font-size:smaller">@Model.EditedCourseDescription</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap">
                                    <div id="page-navbar">
                                        <nav role="navigation" aria-label="Breadcrumb trail">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="/">Home</a>
                                                </li>
                                                <li class="breadcrumb-item">My courses</li>
                                                <li class="breadcrumb-item">
                                                    <a href="/Course/Registration?id=@Model.RegistrationId" aria-current="page">@Model.EditedCourseName</a>
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                    <div class="ml-auto d-flex">
                                    </div>
                                    <div id="course-header">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div id="page-content" class="row">
                    <div id="region-main-box" class="col-12">
                        <section id="region-main" class="has-blocks mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <a type="button" id="btnAdd" href="/Upload/Add?RegistrationId=@Model.RegistrationId" class="btn btn-primary mr-2">+Add New Uploads</a>
                                    <h3>Your Uploads</h3>
                                    <div>
                                        <div class="mod-indent-outer">
                                            <div class="mod-indent"></div>
                                            <div style="display: flex">
                                                <div class="activityinstance">
                                                    @foreach (var upload in ViewBag.Uploads)
                                                    {
                                                        <div class="row mb-2">
                                                            <div class="col-md-9">
                                                                <a class="" onclick="" href="/Upload/Details?uploadId=@upload.UploadId">
                                                                    <img src="https://cmshn.fpt.edu.vn/theme/image.php/trema/assign/1697438386/icon"
                                                                     class="iconlarge activityicon" alt="" role="presentation" aria-hidden="true">
                                                                    <span class="instancename">
                                                                        @upload.UploadName
                                                                    </span>
                                                                </a>
                                                                <br />
                                                                <small>Last Edited: <i>@upload.UploadTime</i></small>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <form id="editForm_@upload.UploadId" method="post" action="/Upload/Edit" class="togglecompletion">
                                                                    <div class="form-check">
                                                                        <input type="hidden" name="UploadId" value="@upload.UploadId" />
                                                                        <input type="hidden" name="RegistrationId" value="@upload.RegistrationId" />
                                                                        <input type="hidden" name="UploadName" value="@upload.UploadName" />
                                                                        <input type="hidden" name="UploadDescription" value="@upload.UploadDescription" />
                                                                        <input class="form-check-input is-hide-checkbox" name="IsHide" type="checkbox" checked="@upload.IsHide" 
                                                                        value="@upload.IsHide" id="isHide_@upload.UploadId">
                                                                        <label class="form-check-label" for="isHide_@upload.UploadId">
                                                                            IsHide?
                                                                        </label>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.is-hide-checkbox').change(function () {
            var checkbox = $(this);
            var uploadId = checkbox.attr('id').replace('isHide_', '');
            var form = $('#editForm_' + uploadId);

            if (checkbox.is(':checked')) {
                if (confirm('Are you sure you want to hide this upload?')) {
                    checkbox.val('true');
                    form.submit();
                } else{
                    checkbox.val('false');
                }
            } else {
                if (confirm('Are you sure you want to unhide this upload?')) {
                    checkbox.val('false');
                    form.submit();
                } else{
                    checkbox.val('true');
                }
            }
        });
    </script>

</body>
</html>

